<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>list.html</h2>
<table>
    <tr>
        <th>user_no</th>
        <th>user_id</th>
        <th>user_password</th>
        <th>name</th>
        <th>상세조회</th>
        <th>삭제</th>
    </tr>
    <tr th:each="member: ${memberList}">
        <td th:text="${member.user_no}"></td>
        <td th:text="${member.userId}"></td>
        <td th:text="${member.user_password}"></td>
        <td th:text="${member.name}"></td>
        <td>
            <!-- query string /member?id=1
                rest api /member/1 -->
            <a th:href="@{|/member/${member.user_no}|}">조회</a>
        </td>
        <td>
            <a th:href="@{|/member/delete/${member.user_no}|}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>
