@import url('style.css');

.container-api {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-top: 4%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}